/*
    CSS Malla
*/
.mallaEncabezado{
    background: none repeat scroll 0 0 #CCCCCC;
    border:1px solid #C0C0C0;  
    color: #000000;
}
.mallaEncabezado th{
    padding: 3px;
}
.areaConocimientoCelda{
    color: #000000;
    font-size: 11px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    background: none repeat scroll 0 0 #CCCCCC;
    text-transform: uppercase;  
}

.mallaTabla{
    width: 100%;
    border-top:1px solid; 
    border-right:1px solid; 
    border-bottom:1px solid; 
    border-left:1px solid;
}
.mallaTabla tr td{
    background-color: #FFFFFF;
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
    empty-cells: show;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

#idMalla .primeraColumna{
    width: 80px;
}

/*Estados de malla*/
.mallaAsignaturaDesaprobada{
    font-weight: bold;
    background: red;
    border: 1px solid red;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
}

.mallaAsignaturaAprobadaConvalidada{
    background: #5AB336;
    border: 1px solid limegreen;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
    font-weight: bold;
}

.mallaAsignaturaExonerada{
    background: #9E872B;
    border: 1px solid darkgoldenrod;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
    font-weight: bold;
}

.mallaAsignaturaPuedeLlevar{
    background: #385084;
    border: 1px solid darkblue;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
    font-weight: bold;
}

.mallaAsignaturaNoSeccionesDisponibles{
    background: #2D6400;
    border: 1px solid darkgreen;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
    font-weight: bold;
}

.mallaAsignaturaNoDictaraNoRequisitos{
    background: #AAAAAA;
    border: 1px solid darkgrey;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: white;
    font-weight: bold;
}

.mallaAsignaturaAsignado{
    background: yellow;
    border: 1px solid yellow;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: black;
    font-weight: bold;
}

.mallaAsignaturaNoDictaraDesaprobada{
    background: #AAAAAA;
    border: 1px solid darkgrey;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: red;
    font-weight: bold;
}

.mallaAsignaturaCursando{
    background: #fff703;
    border: 1px solid #fff703;
    height: 20px;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    color: black;
    font-weight: bold;
}
/*
    clase para tooltip de cursos en malla
*/
.mallaToolTipDeCurso{
    background: none repeat scroll 0 0 sandybrown;
    border: 1px solid orange;
    padding: 8px 6px 1px;
    text-align: center;
    vertical-align: middle;
    color: black;
}
/* Avance de Plan */
.tablaListaAsignatura td{
    padding: 3px;
}

.tableResumenTipoAsignatura{
    width: 360px; 
    float:right;    
}

.tableResumenTipoAsignatura td{
    padding: 3px;    
}

/*
Indicador
*/
.indicator{
    color:#fff;
    background:#555;
    padding:2px 10px;
    display:inline-block;
    font-size:10.5px;
    position:fixed;
    top:0;
    right:0;
    display:none;
}
.indicator a{
    color:#fff;
    text-decoration:none;
}
#loading-indicator{
    background:#ffbf34;
}
#error-indicator{
    background:#fb5252;
    top:auto;
    bottom:0;
}
#session-indicator{
    background:#fb5252;
    top:auto;
    bottom:0;
}
/*
    CSS Sílabo
*/
p.head {
    color: #FB5252;
    font-weight: bold;
    text-transform: uppercase;
}

.map-list {
    margin: 10px 0;
}

.map-list > li {
    list-style: none outside none;
    margin-bottom: 2px;
}

.map-list > li .head {
    background: none repeat scroll 0 0 #EDEDED;
    color: #4180AB;
    display: inline-block;
    margin-right: 5px;
    max-width: 150px;
    padding: 0 5px;
    width: 100%;
}

.sublist-blue {
    color: #4180AB;
    font-size: 1.0em;
    list-style: none outside none;
    margin: 0 0 10px;
    padding: 5px 0;
    text-shadow: none;
}

