<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <distributable/>
    <display-name>SIGA - Universidad de Piura</display-name>        
        
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>        
    
    <!-- Configuración de Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <!-- Archivo de configuración de Spring Security -->           
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:application-spring.xml
            classpath:spring-jdbc.xml
            classpath:application-security.xml
        </param-value>
    </context-param>
    
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>    
    <!-- Fin Archivo de configuración de Spring Security -->
    
    <!-- charEncodingFilter -->
    <filter>
        <filter-name>charEncodingFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>force</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ignoreURLPattern</param-name>
            <param-value>.*\.(png|gif|jpg|tiff|bmp|mpg|jpeg)</param-value>
        </init-param>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>charEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- responseCacheFilter -->
    <filter>
        <filter-name>responseCacheFilter</filter-name>
        <filter-class>com.googlecode.webutilities.filters.ResponseCacheFilter</filter-class>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>responseCacheFilter</filter-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>       
    
    <!-- OriginFilter -->
    <filter>
        <filter-name>OriginFilter</filter-name>
        <filter-class>com.udep.siga.util.OriginFilter</filter-class>
    </filter>
    <!-- Mapping -->
    <filter-mapping>
        <filter-name>OriginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.htm</welcome-file>
    </welcome-file-list>
    
    <!--
    <security-constraint>
        <web-resource-collection>                    
            <web-resource-name>Automatic SSL Forwarding</web-resource-name>
            <url-pattern>/login.htm</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>
                CONFIDENTIAL
            </transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    -->
    
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.htm</location>
    </error-page>
</web-app>
